.nav-btn {
  color: black;
  cursor: pointer;
  border-style: none;
  background-color: transparent;
  text-align: center;
  font-size: 18px;
  padding: 0.8rem; /* 호버링 효과 박스 크기 */
}
.navigation:hover {
  background-color: var(--gray);
  border-radius: 30px;
}
.navigation:active {
  background-color: black;
  color: white;
  border-radius: 30px;
}

.gen-btn {
  cursor: pointer;
  padding: 0.5rem;
  background-color: var(--red);
  color: white;
  border-radius: 30px;
  text-align: center;
  font-size: 16px;
  border: none;
  width: 232px;
}

.gen-btn:hover {
  background-color: var(--redhover);
}

.oauth-btn {
  cursor: pointer;
  padding: 0.5rem;
  background-color: var(--gray);
  color: black;
  border-radius: 30px;
  text-align: center;
  font-size: 16px;
  border: none;
  width: 232px;
}

.oauth-btn:hover {
  background-color: var(--grayhover);
}

.pin-btn {
  border-radius: 10px;
  padding: 0.5rem;
  background-color: var(--red);
  color: white;
  border: none;
  text-align: center;
  font-size: 13px;
  width: 80px;
}

.pin-btn:hover {
  background-color: var(--redhover);
}

.create-btn {
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  border: none;
  background-color: var(--red);
  color: white;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  z-index: 999;
}

.create-btn:hover {
  background-color: var(--redhover);
}
